.header {
    background-color: rgb(223, 235, 247);
    font-size: large;
    padding: 20px;
}

.header-link {
    float: right;
    font-size:small;
}

.content {
    display: -webkit-flex;
    display: flex;
    justify-content: space-around;
    align-content: center;
}

.left {
    display: -webkit-flex;
    display: flex;
    width: 620px;
    height: 420px;
    background: white;
    justify-content:space-evenly;
}

.welcome-message {
    margin-left: 160px;
    margin-top: 50px;
    font-size: 20px;
    color: rgb(93, 139, 224);
    font-weight: bold;
    padding: 20px;
    justify-content: left;
}

.welcome-content {
    font-size: 13px;
    color: black;
    font-weight: lighter;
}

.picture-display {
    margin-top: 50px;
    width: 20px;
    height: 50px;
    justify-content: space-around;
    padding: 100px;
}

.right {
    display: flex;
    width: 700px;
    height: 650px;
    justify-content: center;
}

ul,li{
    list-style: none;
}

ul{
    padding-left: 0;
    position:relative;
    display:flex;
    justify-content: space-evenly;
}


.login-box {
    width: 300px;
    border-style: solid;
    border-color: gray;
    border-width: 1px;
    border-radius: 10px;
    padding: 20px;
    padding-top: 10px;
    margin-top: 100px;
    margin-bottom: 70px;
}

input+label+div{
    display:none;
    position: absolute;
    left:20px;
    top:60px;
}

input:checked+label{
    color:black;
}

input:checked+label+div{
    display:block;
}

.wechat-qrcode {
    padding-top: 20px;
    padding-left: 50px;
    font-size: 13px;
    align-items: center;
}

.input {
    border-radius: 2px;
    border-color: gray;
    border-width: 1px;
    font-size: 16px;
    height: 45px;
}


.login-tab {
    justify-content: space-around;
    border-style: solid;
    border-color: gray;
    border-width: 1px;
    border-radius: 10px;
    padding: 10px 0 10px 0;
    margin: -11px -21px 0px -21px;
    font-size: 16px;
}

.login-info {
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.button {
    text-align: center;
}

.login-button {
    margin-top: 15px;
    margin-bottom: 100px;
    background-color: rgb(109, 146, 224);
    font-size: 20px;
    width: 290px;
    color: white;
}

.options {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.footer {
    font-size: small;
    background-color: rgb(223, 235, 247);
    text-align: center;
    padding: 10px;
}
